
#id
{
    width: 100%;
    height: 900px;
    background-image: url('gym.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#quick-id
{
    width: 50%;
    height: 550px;
    margin: 8% 0% 10% 20%;
    background-color: rgb(216, 241, 255);
    padding: 2%;
}
#id-item
{
    border-bottom: 5px solid rgb(255, 255, 255);
    padding-bottom: 10px;
    
}
#id-text
{
    position: relative;
    top: 8%;
    left: 15%;
}
form{
    position: relative;
    top: 10%;
    left: 11%;
}
input
{
    border:none ;
    border-bottom: 2px solid gray;
    background-color: transparent;
    outline: none;
}
input:hover
{
    background-color: white;
}
#textarea
{
    height: 10%;
}